.introbox1 .njsimg1 {
    display: block;
    /* margin-right: 200px; */
    width: 500px;
    height: 380px;
    float: left;
    border-radius: 10px;
}

/* 轮播器 */


#slider,
#slider ul,
#slider ul li a {
    width: 500px;
    height: 380px;
}


#slider {
    border: 2px solid black;
    position: relative;
    /*padding: 3px;*/
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    border-radius: 10px;
    
}

#slider a {
    display: inline-block;
}



#slider .slider-item-container {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 6000px;
    /*transition-duration: 0.3s;*/
}

#slider li {
    float: left;
}

#slider img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#slider:hover .arrow-container {
    display: block;
}

.arrow-container {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    display: none;
}

.arrow-container span {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 30px;
    /*display: inline-block;*/
    text-align: center;
    line-height: 50px;
    background: rgba(98, 96, 96, 0.42);
    color: white;
    border-radius: 10px;
}

.left-arrow {
    left: 0px;
    /* 鼠标指针放在按钮上时为指示链接的指针（一只手） */
    cursor: pointer;
}

.right-arrow {
    right: 0px;
    cursor: pointer;
}

.indicator-container {
    position: absolute;
    width: 150px;
    height: 30px;
    line-height: 30px;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
    text-align: center;
}

.indicator {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
}

/* 它选择同时具有 .indicator 和 .active 两个类名的元素 */
.indicator.active {
    background: pink;
}



/* 图片 */
.njsimg2 {
    display: block;
    /* margin-right: 200px; */
    width: 500px;
    height: 380px;
    float: right;
    border-radius: 10px;
}

/* 文字1 */
.p1 {
    margin-top: 40px;
    margin-bottom: 0px;
    text-indent: 2em;
    line-height: 35px;
    font-size: 20px;
    width: 500px;
    float: right;

}

/* 文字2 */
.p2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 2em;
    line-height: 35px;
    font-size: 20px;
    width: 500px;
    float: left;
}

/* 盒子1 */
.introbox1 {
    width: 1100px;
    height: 390px;
    margin: 10px auto;
    /* background-color: pink; */
    overflow: hidden;

}

/* 盒子2 */
.introbox2 {
    width: 1100px;
    margin: 100px auto;
    overflow: hidden;
}